@use "sass:math";
@use 'base/variables' as v;
@use 'base/mixins' as m;

.politicas{
    p{
        text-align: justify;
    }
    li::marker{
        color: v.$asignar;
    }
    h3{
        text-transform: uppercase;
    }
    p,li{
        & span{
            font-weight: v.$bold;
        }
    }
}